<!DOCTYPE html>
<html>
  <head>
    <title>GRE For Fun</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <script src="/javascripts/jquery.min.js"></script>
    <!-- bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/util.js"></script>
  </head>
  <body>
    <h2>GRE For Fun</h2>
    <div id="gameRoomStatus" class="alert alert-info" role="alert" style="display:none">
      <p>Your game room has a visitor!</p>
    </div>
    <a href="/practice"><button type="button" class="btn btn-primary">Practice</button></a>
    <a href="/play/<%= user.username %>"><button type="button" class="btn btn-warning">Your Game Room</button></a>
    <a href="/logout"><button type="button" class="btn btn-danger">Logout</button></a>
    <h4>Friend List</h4>
    <table class="table table-hover">
      <tr>
        <th class="col-md-3">Username</th>
        <th class="col-md-3">Status</th>
        <th class="col-md-3">Win / Loss</th>
        <th class="col-md-3">Game Room</th>
      </tr>
      <tbody>
        <% for (var i=0; i<user.friends.length; i++) { %>
          <tr>
            <td><%= user.friends[i].username %></th>
            <td id="<%= user.friends[i].username %>">offline</td>
            <td><%= user.friends[i].play.win %> / <%= user.friends[i].play.loss %></td>
            <td><a href="/play/<%= user.friends[i].username %>" ><button type="button" class="btn btn-success btn-xs">Enter</button></a></td>
          </tr>
        <% } %>
      </tbody>
    </table>
    <h4>Review</h4>
    <table class="table table-hover">
      <tr>
        <th class="col-md-3">Word</th>
        <th class="col-md-6">Meaning</th>
        <th class="col-md-3">Action</th>
      </tr>
      <tbody>
        <% for (var i=0; i<user.words.length; i++) { %>
          <tr>
            <td><%= user.words[i].word %></th>
            <td><%= user.words[i].meaning %></th>
            <td>-</td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </body>
  <script>
    setInterval(function(){
      updateStatus(false, function(status){
        if (Date.now() - status["<%= user.username %>"].gameRoomTimestamp <= 5000){
          document.getElementById("gameRoomStatus").style.display = "block"
        } else {
          document.getElementById("gameRoomStatus").style.display = "none"
        }
        for (var username in status){
          if (document.getElementById(username)){
            if (Date.now() - status[username].timestamp <= 10000 && !status[username].isBusy){
              document.getElementById(username).innerHTML = 'online'
              document.getElementById(username).style.color = 'green'
            } else if (Date.now() - status[username].timestamp <= 10000 && status[username].isBusy){
              document.getElementById(username).innerHTML = 'busy'
              document.getElementById(username).style.color = 'red'
            } else {
              document.getElementById(username).innerHTML = 'offline'
              document.getElementById(username).style.color = 'black'
            }
          }
        }
      })
    }, 1000);
  </script>
</html>
