<!DOCTYPE html>
<html>
  <head>
    <title>GRE For Fun</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <script src="/javascripts/jquery.min.js"></script>
    <!-- bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/util.js"></script>
  </head>
  <body onload="initialize()">
    <div style="text-align:center">
      <a href="/" style="text-decoration:none"><h1>GRE For Fun</h1></a>
      <h4>Welcome to <%= home %>'s Home</h4>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-6 alert alert-info" role="alert" style="text-align:center">
          <h4><span id="playerA"><%= game.playerA %></span><span id="playerAStatus"></span></h4>
          <p>Progress: <span id="<%=game.playerA%>progress">0</span>/10</p>
          <p>Score: <span id="<%=game.playerA%>score">0</span></p>
        </div>
        <div class="col-xs-6 alert alert-success" role="alert" style="text-align:center">
          <h4><span id="playerB"><%= game.playerB?game.playerB:"" %></span><span id="playerBStatus"></span></h4>
          <p>Progress: <span id="<%=game.playerB%>progress">0</span>/10</p>
          <p>Score: <span id="<%=game.playerB%>score">0</span></p>
        </div>
      </div>
    </div>
    <button id="ready" type="button" class="btn btn-danger" onclick="ready()" style="margin:0 auto; display:block">Ready</button>
    <br>
    <div id="question" style="text-align:center">
      <span id="countdown" style="font-size:30px;color:#660066;font-weight:900;">10</span>
      <h1 id="word"></h1>
      <h4>
        <ul class="list-group" style="cursor:pointer">
          <li class="list-group-item" id="choice0" onclick="choose(0)"></li>
          <li class="list-group-item" id="choice1" onclick="choose(1)"></li>
          <li class="list-group-item" id="choice2" onclick="choose(2)"></li>
          <li class="list-group-item" id="choice3" onclick="choose(3)"></li>
          <li class="list-group-item" id="choice4" onclick="choose(4)"></li>
        </ul>
      </h4>
      <button id="next" type="button" class="btn btn-warning" onclick="next()" style="margin: 0 auto">Next</button>
    </div>
    <table class="table table-hover" id="result">
      <tr>
        <th class="col-md-2">Word</th>
        <th class="col-md-2">Meaning</th>
        <th class="col-md-2"><%= game.playerA %>'s Answer</th>
        <th class="col-md-2"><%= game.playerB %>'s Answer</th>
        <th class="col-md-2"><%= game.playerA %>'s Cumulative Score</th>
        <th class="col-md-2"><%= game.playerB %>'s Cumulative Score</th>
      </tr>
      <tbody id="tbody">
      </tbody>
    </table>
  </body>
  <script>
    var isReady
    var inGame
    var questions
    var progress
    var score
    var countdown
    var timeout
    function initialize(){
      document.getElementById("question").style.display="none"
      document.getElementById("result").style.display="none"
      updateProgress("<%=game.playerA%>",0)
      updateProgress("<%=game.playerB%>",0)
      updateScore("<%=game.playerA%>",0)
      updateScore("<%=game.playerB%>",0)
      updateCountdown(0)
      questions = []
      progress = []
      score = 0
      isReady = false
      inGame = false
    }
    function ready(){
      initialize()
      isReady = true
      document.getElementById("ready").style.display="none"
    }
    function start(){
      console.log("game start")
      next()
    }
    function next(){
      clearTimeout(timeout)
      document.getElementById("next").style.display="none"
      updateProgress("<%= username %>", progress.length)
      if (progress.length != 10){
        displayQuestion(progress.length)
        startCountdown()
      }
    }
    function startCountdown(){
      countdown = 10
      updateCountdown(countdown)
      timeout = setInterval(function(){
        countdown--
        updateCountdown(countdown)
        if (countdown==0){
          choose(-1)
        }
      }, 1000)
    }
    function choose(n){
      var current = progress.length
      clearInterval(timeout)
      timeout = setTimeout(next, 5000)
      document.getElementById("choice0").style.pointerEvents = "none"
      document.getElementById("choice1").style.pointerEvents = "none"
      document.getElementById("choice2").style.pointerEvents = "none"
      document.getElementById("choice3").style.pointerEvents = "none"
      document.getElementById("choice4").style.pointerEvents = "none"
      document.getElementById("choice"+questions[current].answer).style.background="#99ff99"
      if (n!=-1){
        if (n!=questions[current].answer){
          document.getElementById("choice"+n).style.background = "#ff9999"
        }
        var curScore = (n==questions[current].answer)?calculateScore(countdown):0
        score += curScore
        updateScore("<%= username %>", score)
        progress.push({
          status: n==questions[current].answer,
          choice: document.getElementById("choice"+n).innerHTML,
          time: 10-countdown,
          score: curScore,
          cumulativeScore: score
        })
      } else {
        progress.push({
          status: false,
          choice: "",
          time: 10,
          score: 0,
          cumulativeScore: score
        })
      }
      document.getElementById("next").style.display="block"
    }
    function displayQuestion(n){
      var question = questions[n]
      document.getElementById("word").innerHTML = question.word
      document.getElementById("choice0").innerHTML = question.choices[0]
      document.getElementById("choice1").innerHTML = question.choices[1]
      document.getElementById("choice2").innerHTML = question.choices[2]
      document.getElementById("choice3").innerHTML = question.choices[3]
      document.getElementById("choice4").innerHTML = question.choices[4]
      document.getElementById("choice0").style.pointerEvents = "auto"
      document.getElementById("choice1").style.pointerEvents = "auto"
      document.getElementById("choice2").style.pointerEvents = "auto"
      document.getElementById("choice3").style.pointerEvents = "auto"
      document.getElementById("choice4").style.pointerEvents = "auto"
      document.getElementById("choice0").style.background = "none"
      document.getElementById("choice1").style.background = "none"
      document.getElementById("choice2").style.background = "none"
      document.getElementById("choice3").style.background = "none"
      document.getElementById("choice4").style.background = "none"
      document.getElementById("question").style.display="block"
    }
    function displayResult(game){
      document.getElementById("ready").style.display="block"
      document.getElementById("question").style.display="none"
      var tbody = document.getElementById("tbody")
      while(tbody.hasChildNodes()){
        tbody.removeChild(tbody.lastChild);
      }
      var tr
      var td
      var node
      for (var i=0; i<questions.length; i++){
        tr = document.createElement('tr');
        // word
        td = document.createElement('td');
        node = document.createTextNode(questions[i].word);
        td.appendChild(node);
        tr.appendChild(td);
        // meaning
        td = document.createElement('td');
        node = document.createTextNode(questions[i].choices[questions[i].answer]);
        td.appendChild(node);
        tr.appendChild(td);
        // playerA's Answer
        td = document.createElement('td');
        if (game.playerAProgress[i].status){
          node = document.createTextNode("correct");
          td.style.color = 'green';
        } else {
          node = document.createTextNode("Incorrect. You choose \""+game.playerAProgress[i].choice+"\"");
          td.style.color = 'red';
        }
        td.appendChild(node);
        tr.appendChild(td);
        // playerB's Answer
        td = document.createElement('td');
        if (game.playerBProgress[i].status){
          node = document.createTextNode("correct");
          td.style.color = 'green';
        } else {
          node = document.createTextNode("Incorrect. You choose \""+game.playerBProgress[i].choice+"\"");
          td.style.color = 'red';
        }
        td.appendChild(node);
        tr.appendChild(td);
        // playerA's cumulative score
        td = document.createElement('td');
        node = document.createTextNode(game.playerAProgress[i].cumulativeScore);
        td.appendChild(node);
        tr.appendChild(td);
        // playerB's cumulative score
        td = document.createElement('td');
        node = document.createTextNode(game.playerBProgress[i].cumulativeScore);
        td.appendChild(node);
        tr.appendChild(td);

        tbody.appendChild(tr);
      }
      document.getElementById("result").style.display="block"
    }
    function updateProgress(username, n){
      document.getElementById(username + "progress").innerHTML = n
    }
    function updateScore(username, n){
      document.getElementById(username + "score").innerHTML = n
    }
    function updateCountdown(n){
      document.getElementById("countdown").innerHTML = n
    }
    setInterval(function(){
      updateGameStatus("<%= home %>", isReady, progress, function(game){
        console.log(game)
        if (Date.now() - game.playerATimestamp <= 5000){
          if (game.inGame){
            document.getElementById("playerAStatus").innerHTML = "(playing)"
          } else if (game.playerAReady){
            document.getElementById("playerAStatus").innerHTML = "(ready)"
          } else {
            document.getElementById("playerAStatus").innerHTML = "(online)"
          }
        } else {
          document.getElementById("playerAStatus").innerHTML = ""
        }
        if (Date.now() - game.playerBTimestamp <= 5000){
          document.getElementById("playerB").innerHTML = game.playerB
          if (game.inGame){
            document.getElementById("playerBStatus").innerHTML = "(playing)"
          } else if (game.playerBReady){
            document.getElementById("playerBStatus").innerHTML = "(ready)"
          } else {
            document.getElementById("playerBStatus").innerHTML = "(online)"
          }
        } else {
          document.getElementById("playerBStatus").innerHTML = ""
        }
        if (game.inGame){
          if (isReady){
            isReady = false
            inGame = true
            questions = game.questions
            start()
          }
          if (game["player"+game.player+"Progress"].length>0){
            updateProgress(game["player"+game.player], game["player"+game.player+"Progress"].length)
            updateScore(game["player"+game.player], game["player"+game.player+"Progress"][game["player"+game.player+"Progress"].length-1].cumulativeScore)
          }
        }
        if (inGame && game.playerAProgress.length==10 && game.playerBProgress.length==10){
          updateProgress(game["player"+game.player], game["player"+game.player+"Progress"].length)
          updateScore(game["player"+game.player], game["player"+game.player+"Progress"][game["player"+game.player+"Progress"].length-1].cumulativeScore)
          inGame = false
          displayResult(game)
        }
      })
    }, 1000);
  </script>
</html>
